body{
    background: linear-gradient(#54abd7,#25a1c5, #275b86);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
*{
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}
main{
    width: 30rem;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    flex-direction: column;
}
.spong_body{
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem 1rem 0.2rem 0.2rem;
}
.face{
    background-color: yellow;
    height: 4rem;
    flex: 1;
    z-index: 7;
    border-radius: 1rem 1rem 0.2rem 0.2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 2px solid #111;
}
.face>.m{
    /* background-color: hotpink; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.face>.m>div{
    width: 6.5rem;
    height: 6.5rem;
    background:linear-gradient( rgb(99, 33, 33) 50%,transparent 50%);
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1rem;
    border-top: 2px solid #111;
    position: relative;
}
.face>.m>div::before{
    content: '';
    border: 1rem solid rgb(179, 18, 96);
    border-left:transparent 1rem solid ;
    border-bottom:transparent 1rem solid ;
    transform: rotate(-45deg);
    background-color: transparent;
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: 34%;
    left: 1.5rem;
}
.face>.m>div::after{
    content: '';
    border: 1rem solid rgb(179, 18, 96);
    border-left:transparent 1rem solid ;
    border-bottom:transparent 1rem solid ;
    transform: rotate(-45deg);
    background-color: transparent;
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: 34%;
    right: 1.5rem;
}
.face>.m>div>div{
    /* background-color: green; */
    height: 2rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.face>.m>div>div>span{
    background-color: #fff;
    display: block;
    height: 1.2rem;
    width: 1rem;
}
.face>.i{
    /* background-color: red; */
    height: 2rem;
    flex: 2.5;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}
.face>.i>small{
    border: 2px solid #111;
    height: 2.5rem;
    width: 1.5rem;
    position: absolute;
    border-radius: 50%;
    border-bottom: none;
    background-color: yellow;
    transform: rotate(10deg);
    box-shadow: inset 0 -0.5rem 0.2rem rgba(0, 0, 0, 0.151);
}
.face>.i>div{
    height: 5rem;
    width: 5rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid 2px #111;
    position: relative;
    box-shadow: inset 0 -0.3rem 0.2rem rgba(0, 0, 0, 0.151);
}
.face>.i>div>p{
    width:0.3rem ;
    height: 0.9rem;
    background-color: #111;
    position: absolute;

}
.face>.i>div>p:nth-child(1){
    top: -0.5rem;
    left: 0.8rem;
    transform: rotate(-25deg);
}
.face>.i>div>p:nth-child(2){
    top: -0.8rem;
    height: 0.8rem;

}
.face>.i>div>p:nth-child(3){
    top: -0.5rem;
    right: 0.8rem;
    transform: rotate(25deg);
}
.face>.i>div>div{
    background-color: rgb(58, 118, 230);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.face>.i>div>div>span{
    background-color:#111;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}
.face>.i>div>div>span>small{
    background-color:#fff;
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    display: block;
    box-shadow:  0 0 0.5rem rgb(255, 254, 254)
}
.face>.m{
    /* background-color: gray; */
    height: 2rem;
    flex: 2;
}
.clothes{
    /* background-color: red; */
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #111;
    border-top: none;
}

.clothes>.shirt{
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid #111;
}
.shirt::after{
    content: '';
    position: absolute;
    width: 1.2rem;
    height: 2.5rem;
    background-color: #fff;
    left: -1.4rem;
    margin-top: -2rem;
    border:2px solid #111;
    border-radius: 2rem 0 0 0.5rem ;
}
.shirt::before{
    content: '';
    position: absolute;
    width: 1.2rem;
    height: 2.5rem;
    background-color: #fff;
    right: -1.4rem;
    margin-top: -2rem;
    border:2px solid #111;
    border-radius:  0 2rem 0.5rem 0;
}
.shirt>small{
    background-color: red;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 0.4rem;
    border: 2px solid #111;

}
.shirt>span{
    border: 3px solid #111;
    background-color: #fff;
    width: 2.8rem;
    height: 2.8rem;
    margin-top: -2rem;
    
}
.shirt>.top{
background-color: red;
width: 1.3rem;
height: 2.2rem;
position: absolute;
margin-top: 1rem;
border-radius: 1rem 1rem 0 0;
box-shadow: 0 -0.3rem 0.2rem rgba(0, 0, 0, 0.151);
border: 2px solid #111;
z-index: 3;

}
.shirt>.bottom{
background-color: red;
width: 0.9rem;
height: 0.9rem;
position: absolute;
margin-top: 2.79rem;
transform: rotate(45deg);
border-right: 2px solid #111;
border-bottom: 2px solid #111;
z-index: 4;


}
.shirt>span:nth-child(1){
    transform: rotate(30deg);
    margin-right:-0.5rem ;
}
.shirt>span:nth-child(5){
    transform: rotate(-30deg);
    margin-left: -0.5rem;
}
.clothes>.pants{
    background-color: #B9723E;
    flex: 2;
    display: flex;
    flex-direction: column;
    position: relative;
}
.clothes>.pants>.hands{
    width: 0.9rem;
    /* border: 2px solid #111; */
    border-top:none;
    position: absolute;
    top: -0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clothes>.pants>.hand1{
    left: -1rem;
    border: 2px solid;
    border-radius: 0 0 0 0.9rem ;
}
.clothes>.pants>.hand2{
    border: 2px solid;
    border-radius: 0 0 .9rem 0;
    right: -1rem;
}
.clothes>.pants>.hands>.top{
    height: 4rem;

    background-color: yellow;
    width: 100%;
}
.clothes>.pants>.hand1>.buttom{
    background:linear-gradient( yellow 50%,transparent 50%);
    border-top: 2px solid;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    transform: rotate(-90deg);
    margin-left: 0.7rem;
    margin-top: -0.5rem;
}
.clothes>.pants>.hand2>.buttom{
    background:linear-gradient( yellow 50%,transparent 50%);
    border-top: 2px solid;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    transform: rotate(90deg);
    margin-right: 0.7rem;
    margin-top: -0.5rem;

}
.clothes>.pants>.hzam{
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    padding-top:0.5rem ;
}
.hzam>li{
    background-color: #111;
    width: 1.5rem;
    height: 0.5rem;
}
/* ________________________________________________________________ */
.legs_container{
    width: 15rem;
}
.legs_container>.pants{
    display: flex;
    justify-content: space-around;
    
}
.legs_container>.pants>span{
    
    width: 2rem;
    height: 1rem;
    background: #9f6135;
    border-radius: 0.2rem;
    border: 2px solid #111;
    margin: -0.1rem;
    z-index: 1;
    box-shadow:inset 0 0.2rem 0.1rem rgba(0, 0, 0, 0.125)
}
.legs_container>.legs{
    /* background-color: darkgreen; */
    display: flex;
    justify-content: space-around;
    
}
.legs_container>.legs>span{
    width: 1rem;
    height: 5rem;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    place-content: end;
    border: 2px solid #111;
    z-index: 1;
    border-radius: 0 0 1rem 1rem;


}
.legs_container>.legs>span>span{
    height: 3rem;
    background-color: #fff;
    padding-top: 0.5rem;
    border-top:2px solid #111;
    border-radius: 0 0 1rem 1rem;

}
.legs_container>.legs>span>span>span:nth-child(1){
    height: 0.2rem;
    background-color: blue;
    display: block; 
    margin-bottom: 0.5rem;
}
.legs_container>.legs>span>span>span:nth-child(2){
    height: 0.2rem;
    background-color: red;
    display: block; 
}
.legs_container>.foot{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-top:-1rem ;
}
.legs_container>.foot>span{
    height: 3rem;
    width: 1.8rem;
    background-color: #111;
    border-radius: 1rem;
    position: relative;
}
.legs_container>.foot>span>span{
    height: 2.1rem;
    width: 2.1rem;
    background-color: #111;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: -0.2rem;
    top: 1.2rem;
}
.legs_container>.foot>span>span>small{
    background-color: #e6e1e1;
    height: 0.6rem;
    width: 0.6rem;
    display: block;
    place-self: center;
    margin: 0.6rem;
    border-radius: 50%;
    box-shadow:  0 0 0.6rem rgb(255, 254, 254)
}
.shos:nth-child(1){
    transform: rotate(60deg);
}
.shos:nth-child(2){
    transform: rotate(-60deg);
}